<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event_serch</title>
</head>

<body>
    <div class="serch_container">
        <p> 検索フォーム：</p>
        <p>条件1→3</p>
        <p>条件2→1</p>
        <p>条件3→○</p>
        <p>条件4→×</p>
    </div>

    <table border="1">
        <tr>
            <th>学籍番号：</th>
        </tr>
        <tr>
            <td>12345678</td>
        </tr>
        <tr>
            <td>12345679</td>
        </tr>

        <input type="submit" value="戻る">
</body>

</html>