<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event_serch</title>
</head>

<body>
    <table>
        <tr>
            <th>学籍番号：</th>
            <td></td>
        </tr>

        <tr>
            <th>来場数：</th>
            <td></td>
            <th></th>
        </tr>

        <tr>
            <th>回答数：</th>
            <td></td>
            <th></th>
        </tr>

        <tr>
            <th>飛び入り数：</th>
            <td></td>
            <th></th>
        </tr>
        
        <tr>
            <th>棄権：</th>
            <td></td>
            <th></th>
        </tr>
        
        <tr>
            <th>未来場数：</th>
            <td></td>
            <th></th>
        </tr>

        <tr>
            <th>新イベント：</th>
            <td></td>
            <th></th>
        </tr>

        <tr>
            <th>生徒：</th>
            <td></td>
            <th></th>
        </tr>
        <tr>
            <th>回答数：</th>
            <td></td>
            <th></th>
        </tr>
        <tr>
            <th>飛び入り数：</th>
            <td></td>
            <th></th>
        </tr>
        <tr>
            <th>新イベント：</th>
            <td></td>
            <th></th>
        </tr>

        <tr>
            <th>生徒：</th>
            <td></td>
            <th></th>
        </tr>
        <tr>

    </table>

    <input type="submit" value="戻る">
    
</body>

</html>