<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Event_serch </title>

    <link rel="stylesheet" href="../CSS/ORhome.css">

</head>

<body>
    <div class="serch_container">
        <p> 検索フォーム：</p>
        <p>条件1→3</p>
        <p>条件2→1</p>
        <p>条件3→○</p>
        <p>条件4→×</p>
    </div>

    <table border="1">
        <tr>
            <th>学籍番号：</th>
            <th>条件1：</th>
            <th>条件2：</th>
            <th>条件3：</th>
            <th>条件4：</th>
        </tr>
        <tr>
            <td>12345678</td>
            <td>条件1の内容</td>
            <td>条件2の内容</td>
            <td>条件3の内容</td>
            <td>条件4の内容</td>
        </tr>
    </table>
    <input type="submit" value="戻る">
</body>

</html>