html{
    font-size: 10px;
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 40px;
    line-height: 1.6;
}


h1 {
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin: 0 auto;
}

table{
    padding: 2rem;
    text-align: center;
    background-color: white;
    height: 15rem;
    margin: 0 auto;
}