<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/option.css">
    <title>その他項目から探す</title>
</head>

<body>
    <div class="title">その他項目から探す</div>

    <!-- 検索フォーム -->
    <form id="search-form">
        <table method="post" action="/" class="option">
            <tr class="option-item">
                <th>フリーワード:</th>
                <td><input type="text" id="free_word" name="free_word"></td>
            </tr>

            <tr class="option-item">
                <th>来場数:</th>
                <td><input type="number" id="visitors" name="visitors"></td>
                <th>
                    <select id="visitors_op" name="visitors_op">
                        <option value="none">回</option>
                        <option value="gt">回以上</option>
                        <option value="lt">回以下</option>
                        <option value="eq">回以上を除く</option>
                        <option value="ne">回以下を除く</option>
                    </select>
                </th>
            </tr>

            <tr class="option-item">
                <th>回答数:</th>
                <td><input type="number" id="answer" name="answer"></td>
                <th>
                    <select id="answer_op" name="answer_op">
                        <option value="none">回</option>
                        <option value="gt">回以上</option>
                        <option value="lt">回以下</option>
                        <option value="eq">回以上を除く</option>
                        <option value="ne">回以下を除く</option>
                    </select>
                </th>
            </tr>

            <tr class="option-item">
                <th>飛び入り数:</th>
                <td><input type="number" id="drop" name="drop"></td>
                <th>
                    <select id="drop_op" name="drop_op">
                        <option value="none">回</option>
                        <option value="gt">回以上</option>
                        <option value="lt">回以下</option>
                        <option value="eq">回以上を除く</option>
                        <option value="ne">回以下を除く</option>
                    </select>
                </th>
            </tr>

            <tr class="option-item">
                <th>棄権：</th>
                <td><input type="number" id="abstention" name="abstention"></td>
                <th>
                    <select id="abstention_op" name="abstention_op">
                        <option value="none">回</option>
                        <option value="gt">回以上</option>
                        <option value="lt">回以下</option>
                        <option value="eq">回以上を除く</option>
                        <option value="ne">回以下を除く</option>
                    </select>
                </th>
            </tr>

            <tr class="option-item">
                <th>未来場：</th>
                <td><input type="number" id="notcome" name="notcome"></td>
                <th>
                    <select id="notcome_op" name="notcome_op">
                        <option value="none">回</option>
                        <option value="gt">回以上</option>
                        <option value="lt">回以下</option>
                        <option value="eq">回以上を除く</option>
                        <option value="ne">回以下を除く</option>
                    </select>
                </th>
            </tr>

            <tr class="option-item">
                <th>新イベント：</th>
                <th>
                    <select id="new_event_op" name="new_event_op">
                        <option value="none">選んでください</option>
                        <option value="ok">○</option>
                        <option value="nt">×</option>
                    </select>
                </th>

            </tr>

            <tr class="option-item">
                <th>イベント名:</th>
                <th>
                    <select id="event_name_op" name="event_name_op">
                        <option value="all">すべて</option>
                        <option value="contains">サークルラリー</option>
                        <option value="not_contains">春イベント</option>
                        <option value="exact">夏イベント</option>
                        <option value="not_exact">秋イベント</option>
                        <option value="starts_with">冬イベント</option>
                        <option value="ends_with">その他</option>
                    </select>
                </th>
            </tr>

            <tr class="option-item">
                <th>年度：</th>
                <td><input type="date" id="event_date" name="event_date"></td>

            </tr>

            <tr class="option-item">
                <th>学生:</th>
                <th>
                    <select name="student_type" id="student_type">
                        <option value="none">すべて</option>
                        <option value="1">一般生徒</option>
                        <option value="2">執行委員</option>
                    </select>
                </th>
            </tr>

            <tr class="option-item">
                <th>検索モード:</th>
                <td>
                    <input type="radio" name="search_mode" value="and" id="and">
                    <label for="and" class="label">AND検索</label>


                    <input type="radio" name="search_mode" value="or" id="or">
                    <label for="or" class="label">OR検索</label>
                </td>

            </tr>
        </table>

        <input type="submit" value="検索" id="search-button" class="search-button">
        <input type="reset" value="リセット" id="reset-button" class="search-button">
    </form>

    <hr> <div id="search-results">
        <p>検索結果はまだありません。</p>
    </div>

    <script src="../js/botann.js"></script>

</body>




</html>