<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../css/home.css">


</head>

<body>
    <div class="title">イベント調査</div>
    <div class="text">
        <input type="radio" name="serch_mode" value="1" id="1">
        <label for="1" class="label">学籍番号から探す</label>

        <input type="radio" name="serch_mode" value="2" id="2">
        <label for="2" class="label">複数要素から探す</label>
    </div>
</body>

</html>