<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>複数の要素から探す</title>

    <link rel="stylesheet" href="../CSS/option.css">

</head>

<body>
    <h1>複数の要素から検索</h1>
    <table class="option">
        <tr class="free_word">
            <th>フリーワード：</th>
            <td><input type="text" name="free_word" id="free_word"></td>
        </tr>

        <tr class="number_of_visitors">
            <th>来場数：</th>
            <td><input type="text" name="number_of_visitors" id="number_of_visitors"></td>
            <th>
                <select id="number_of_visitors_op">
                    <option>選んでださい</option>
                    <option>回以上</option>
                    <option>回以下</option>
                    <option>回</option>
                    <option>回以上を除く</option>
                    <option>回以下を除く</option>
                </select>
            </th>
        </tr>

        <tr class="number_of_answers">
            <th>回答数：</th>
            <td><input type="text" name="number_of_answers" id="number_of_answers"></td>
            <th>
                <select id="number_of_answers_op">
                    <option>選んでださい</option>
                    <option>回以上</option>
                    <option>回以下</option>
                    <option>回</option>
                    <option>回以上を除く</option>
                    <option>回以下を除く</option>
                </select>
            </th>
        </tr>

        <tr class="number_of_drop_ins">
            <th>飛び入り数：</th>
            <td><input type="text" name="number_of_drop_ins" id="number_of_drop_ins"></td>
            <th>
                <select id="number_of_drop_ins_op">
                    <option>選んでださい</option>
                    <option>回以上</option>
                    <option>回以下</option>
                    <option>回</option>
                    <option>回以上を除く</option>
                    <option>回以下を除く</option>
                </select>
            </th>
        </tr>

        <tr>
            <th>棄権：</th>
            <td><input type="text" name="abandonment" id="abandonment"></td>
            <th><select id="abandonment_op">
                    <option>選んでださい</option>
                    <option>回以上</option>
                    <option>回以下</option>
                    <option>回</option>
                    <option>回以上を除く</option>
                    <option>回以下を除く</option>
                </select>
            </th>
        </tr>

        <tr>
            <th>未来場：</th>
            <td><input type="text" name="future_place" id="future_place"></td>
            <th><select id="future_place_op">
                    <option>選んでださい</option>
                    <option>回以上</option>
                    <option>回以下</option>
                    <option>回</option>
                    <option>回以上を除く</option>
                    <option>回以下を除く</option>
                </select>
            </th>
        </tr>

        <tr>
            <th>新イベント：</th>
            <th><select id="new_event_op">
                    <option>選んでださい</option>
                    <option>◯</option>
                    <option>×</option>
                </select>
            </th>
        </tr>

        <tr>
            <th>イベント：</th>
            <td><input type="text" name="event" id="event"></td>
            <td><select id="event_type">
                    <option>選んでださい</option>
                    <option>サークルラリー</option>
                    <option>春イベント</option>
                    <option>夏イベント</option>
                    <option>秋イベント</option>
                    <option>冬イベント</option>
                </select></td>
        </tr>
        <tr>
            <th>年度：</th>
            <td><input type="text" name="year" id="year"></td>
            <th><select id="year_op">
                    <option>選んでください</option>
                </select></th>
        </tr>

        <tr>
            <th>生徒：</th>
            <th><select id="student_type">
                    <option>選んでださい</option>
                    <option>一般生徒</option>
                    <option>執行委員</option>
                    <option>元執行委員</option>
                </select>
            </th>
        </tr>

        <tr>
            <th>検索方法：</th>
            <td>

                <input type="radio" name="serch_mode" value="and" id="and">
                <label for="and" class="label">AND検索</label>


                <input type="radio" name="serch_mode" value="or" id="or">
                <label for="or" class="label">OR検索</label>

            </td>
        </tr>

    </table>

    <input type="submit" value="リセット">


    <script type="text/javascript" src="../js/option.js"></script>
</body>

</html>